[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.9.2"
scipy = "0.15.1"
scikit-learn = "0.23.0"
matplotlib = "1.4.3"
pandas = "0.19"
streamlit = "*"
SQLAlchemy = "1.4.1"
flask = "*"
psycopg2 = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.9"
